/* Colors */
:root {

    --background: #FAFAFA;
    --inputs: #F5F6F7;
    --text-color: #24292D;
    --links-color: #818F99;
    --brand-color: #50B0E5;
}

/* Global Style */
*{
    box-sizing: border-box;
}

body {
    font-size: 14px;
    background-color: var(--background);
    color: var(--text-color);
    font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5,button {

    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
}
/* Global Style */