/* Colors */
:root {

    --background: #FAFAFA;
    --inputs: #F5F6F7;
    --text-color: #24292D;
    --links-color: #818F99;
    --brand-color: #50B0E5;
}

/* Global Style */
*{
    box-sizing: border-box;
}

body {
    font-size: 14px;
    background-color: var(--background);
    color: var(--text-color);
    font-family: 'Open Sans', sans-serif;
    height: 900px;
}

h1,h2,h3,h4,h5,button {

    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
}


/* Some basic things */
.heading-3 {
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    color: #24292D;
    margin-bottom: 0;
    
}
.paragraph-1 {
    padding: 0px;
    font-size: 15px;
    line-height: 20px;
    font-weight: 300;
    color: #818F99;
    margin-bottom: 0;
}
.heading-4 {
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    margin-bottom: 0;
}

/* Global Style */


/* Start Header */

header {

    height: 70px ;
    background-color: white;
    margin-bottom: 60px;
}

.navbar {      

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.search {     

    position: relative;

}
.search__input {
    
    border:none;
    outline: none;
    border-radius: 3px;
    background-color:#F5F6F7;
    color: #818F99;

    width: 525px ; 
    height: 40px;
    padding: 0px 45px  ;
    margin: 7px 0;
    
    position: relative;

    margin-right: 10px;  /* For space with nav user */

}

.search__input::placeholder {

    color: #818F99;
}

.search__button {

    background:none;
    position: absolute;
    top:17px;
    left:13px;
   
    border: none;
}

.search__icon {
    background-color: #F5F6F7;
    color: grey;
}
/* .search__input:active,   // just in case want to add any css when the button is avtive or focused
.search__input:focus {

    outline: 1px solid #50B0E5;
} */
.search__icon {
    background-color: #F5F6F7;
    color: grey;
}

.user-nav {

    flex-basis: 25%;

    display: flex;
    justify-content: space-between;

    font-size: 16px;
    cursor: pointer;
}

.user-nav a {
    text-decoration: none;
    color:#818F99;
}
.user-nav__home a {
    color:#50B0E5;
}

.user-nav__pic {
    margin-left: 15px;
}

/* End Header */

/* Start Messages */

.all {
    height: 647px;
    width: 100%;
    border-bottom: 1px solid #F2F2F2;
}

/* start of the left side */
.message-1 {
    width: 390px ;
    height: 100%;
    float: left;
}
.message-1 > * {
    border: 1px solid #F2F2F2;
    border-bottom: none;

}

.message-1-name {
    padding: 15px;
    background-color:#F5F6F7;
    height: 50px;
}

.message-1-msg {
    background-color: #fff;
    height: 40px;
    padding: 9px 15px;
    display: flex;
    justify-content: space-between;
}
.message-1-msg i {
    color: #818F99;
    margin-top: -1px;
    font-size: 18px;
}

.message-1-search {
    background-color: white;
    padding: 5px 15px 0;
    height: 70px;
}
.message-1-search form input {
    width: 100%;
    width: 100%;
}

.message-1-others {
    background-color: var(--background);
    
}
.message-2-others {
    background-color: white;
}
.message-1-others-1 {
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 15px;
}
.message-1-others-1-content {
    padding: 0px 20px;
    margin-right: auto;
}
.message-1-others-1-content p {
    padding: 0;
}

/* Start the right side */
.message-2 {
    width: 720px;
    height: 100%;
    float: right;
    display: flex;
    flex-direction: column;
}

.message-2 > * {
    border: 1px solid #F2F2F2;
    border-bottom: none;
}

.message-2-name {
    padding: 15px;
    background-color:#F5F6F7;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.message-2-name i {
    font-size: 20px;
}
.message-2-msg {
    background-color:white;
    margin-top: auto ;
    height: 100%;

    
    display: flex;
    flex-direction: column-reverse;
    
}


.message-2-msg-1 {
    display: flex;
    justify-content: start;
    align-items: center;

    margin: 10px 0 0;
    padding: 10px 20px;
}

.message-2-msg-1 p {
    background-color:#F5F6F7;
    width: 200px;
    height: 40px;
    margin: 10px 20px;
}



.message-2-enter {

    background-color: white;
    position: relative;
    height: 65px;

} 
.message-2-enter .enter {
    background-color:white;
    width: 100% ;
    height: 100%;
    padding:0 70px;
    font-size: 16px;
    color: #818F99;
    letter-spacing: 1.2px;
    outline: none;
    border: none;

}
.message-2-enter .icon {
    position: absolute;
    left: 15px;
    top: 14px;
    font-size: 24px;
    border: none;
    color: #818F99;
    outline: none;
    background: none;
}
.message-2-enter .send {
    position: absolute;
    right: 15px;
    top: 13px;
    width: 113px;
    height: 38px;
    padding: 8px 25px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.btn-blue {
    background-color: #1271A6;
    color: white;
    border-radius: 2px;
    font-weight: 600;
    font-size: 16px;
    border: none;
    outline: none;



}
.message-2-enter .send i {
    font-size: 14px;
}