/* start top */
.top {
    margin:60px 0;
}
.top h3{
    text-transform: capitalize;
}
.top .col-6 span {
    display: inline-block;
}
.top .col-6 select {
  width: 60%;
  padding: 7px 8px;
}
/* start card */
.cases .row .col-lg-4 {
  margin-bottom: 15px;
}
.cases .card {
  margin-bottom: 0;
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.07);
  border: none;
}
/* .no-gutters  img {
  height: 100%;
} */
.cases .card-body {
 padding-bottom: 0;
}
.cases .card-body h6{
  font-family: Nunito Sans;
  font-size: 14px;
  font-weight: 600;
}
.cases .card-body p span {
  color: #818F99;
  font-size: 14px;
  line-height: 19px;
  font-family: Nunito Sans;


}
.cases .card-body p{
  color: #000;
font-size: 14px;
line-height: 19px;
font-family: Nunito Sans;
margin-bottom: 3px;
}
