/* Colors */
:root {

    --background: #FAFAFA;
    --inputs: #F5F6F7;
    --text-color: #24292D;
    --links-color: #818F99;
    --brand-color: #50B0E5;
}

/* Global Style */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    background-color: var(--background);
    color: var(--text-color);
    font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5,button {

    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
}
/* Global Style */


.header {

    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 70px ;
    background-color: white;
}
.logo {
    
    padding: 15px;
    padding-left: 60px;
}
.search {

    position: relative;
    padding-right: 30px;

    align-self: stretch;
    align-content: stretch;
    
    display: flex;
    justify-content: start;
    align-items: center;

}
.search__input {

    border:none;
    width: 550px ; 
    height: 40px;
    padding: 10px 50px ;
    background-color:  #F5F6F7;
    margin: 10px 0;
    outline: none;
    position: relative;
    border-radius: 3px;
    color: #818F99 ;
}
.search__input::placeholder {
    color: #818F99;
}

.search__button {

    background:none;
    position: absolute;
    top:25px;
    left:20px;
    border: none;
}
.search__button:focus,
.search__button:active {
    outline: none;
}
.search__icon {

    background-color: #F5F6F7;
    color: grey;
}

.user-nav {

    flex-basis: 21%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 16px;
    color:#818F99;
}
.user-nav__home {
    color:#50B0E5;
}
.user-nav__pic {

    padding-right: 60PX;
    padding-left: 15px

}

.main {
    display: grid;
    grid-template-columns: minmax(20px ,60px) 275px 1fr 550px 1fr 260px  minmax(20px ,60px) ;
    grid-template-rows: 40px 130px 30px repeat(3 , 425px);
    grid-gap: 15px;
}



.post-case {
grid-column: 4/5;
grid-row:  2 /3;

border: 1px solid#F5F6F7;
border-radius: 4px;
}
.post-case .heading {
    background-color:  #F5F6F7;
    height: 40px;
}
.heading-3 {
    font-size: 18px;
    font-weight: 600;
    
    padding: 10px 13px 0;
    margin-bottom: 0;
}
.write {
    background-color: white;
    height: 90px;
    position: relative;
    
}
.write__img {
    display: inline;
    position: absolute;
    top: 25px;
    left: 15px;
}
.post-case  .write__post {
    border:none;
    width: 100%;
    height: 100%;
    padding-left: 70px;
    background-color: white !important;    
    outline: none;
    color: #818F99 ;
    overflow: hidden;

}


.cases-found {
    grid-column: 2 /3;
    grid-row: 4/-1 ;
}
.cases-found .heading-3 {
    margin-bottom: 10px;
    padding: 4px
}
.cases-found__img {
    margin-bottom: 20px;
    background-color:white;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}
.cases-found__links .case {
    display: block;
    margin-bottom: 5px;
    padding: 4px;
    font-size: 15px;
    text-decoration: none;
    text-transform: capitalize;
}
.posts {
    grid-column: 4 /5 ;
    grid-row: 4/-1 ;
    margin-bottom: 20px;
}
.posts-1 {
    grid-column: 4 /5 ;
    grid-row: 4/5 ;
    background-color: white;
    border: 1px solid  rgba(129, 143, 153, 0.25) ;
    border-radius: 3px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
}
.posts-2 {
    grid-column: 4 /5 ;
    grid-row: 5/6 ;
    background-color: white;
    border: 1px solid  rgba(129, 143, 153, 0.25) ;
    border-radius: 3px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;

}
.posts-3 {
    grid-column: 4 /5 ;
    grid-row: 6/7 ;
    background-color: white;
    border: 1px solid  rgba(129, 143, 153, 0.25) ;
    border-radius: 3px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;

}

.post .post-nav {
    display: flex;
    justify-content: start;
    align-items: center;
    padding:10px 15px
} 

.post-nav__info {
    margin-right: auto;
}
.post-nav__info span {
    padding: 10px 13px 0 ;
    font-size: 12px;
    color: #818F99;
}
.post-nav i {
    color: hsla(205, 11%, 55%, 0.5);
    font-size: 24px;
    transform: translateY(-5px);
}
.post-info {
    padding:10px 15px;
    border-bottom: 1px solid  rgba(129, 143, 153, 0.25);
}
.post-info .paragraph {
    color: #818F99;
    padding:0px 5px;
}
.post-info__pics {
    display: flex;
    margin-bottom: 5px;
}
.post-info__pics img {
    background-color:white;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.08);
    border-radius: 2px;
    width: 33.33%
}
.post-details {
    padding: 10px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.post-details h3 {
    font-size: 14px;
    color:  #818F99;
    text-transform:uppercase ;
}
.post-details span {
    padding: 10px 13px 0 ;
    font-size: 12px;
    color:  #24292D;
}
.post-details__btn {
    background-color: #50B0E5;
    color: white;
    padding: 8px 22px;
    font-size: 16px;
    letter-spacing: 1.2;
    border:none;
    border-radius: 2px;
}

.filters {
    grid-column: 6/7;
    grid-row: 4/-1 ;
    

}
.filters-base {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 10px;
}
.filters-base__btn {
    background-color:white;
    color:  #50B0E5;
    padding: 8px 22px;
    font-size: 16px;
    letter-spacing: 1.2;
    border:none;
    border-radius: 2px;
}
.filters h3 {
    margin-bottom: 10px;
}
.filters input{
    padding: 10px 13px ;
    width:96% ;
    border:none;
    background-color:  #F5F6F7;
    outline: none;
    position: relative;
    border-radius: 3px;
    color: #818F99 ;
    transform: translateX(11px);
    
}
.filters-base-age {
    margin-bottom: 10px;

}
.filters-base-date {
    margin-bottom: 10px;

}
.filters-base-loc {
    margin-bottom: 10px;

}
